@font-face {
  font-family: Magic;
  src: url("MagicSchoolOne.ttf")
}

@font-face {
  font-family: SourceSansPro;
  src: url("SourceSansPro-Regular.ttf")
}

*{
  font-family: SourceSansPro;
  outline: none;
}


body {
  margin: 40px;
  text-align: center;
}

#tutorial {
  text-align: center;
  font-family: Magic;
  font-size: 50px;
}
